@import url("https://fonts.googleapis.com/css?family=Acme|Lobster|Patua+One|Rubik|Poiret+One|Roboto");

* {
    box-sizing: border-box;
}

:root {
    --Poiret-font: "Poiret One", cursive;
    --Rubik: "Rubik", cursive;
    --Patua: "Patua One", cursive;
    --Lobster: "lobster", cursive;
    --Roboto: "Roboto", cursive;
    --light-black: #2e2c2caf;
    --light-pink: #ffecf2;
    --bggradient: linear-gradient(45DEG, #ffb6c1, #ffcce7, #fddde6 , #ffcce7, #ffb6c1, #fecdd7, #ffcce7);
    --reversebg: linear-gradient(45DEG, #4d5198, #81b7d2, #ffcce7);
    --flaming: linear-gradient(45DEG, #a10100, #da1f05, #f33c04, #fe650d, #ffc11f, #fff75d, #ffc11f, #fe650d, #fff75d, #a10100);
    --light-gray: rgba(255, 255, 255, 0.877);
    --light-blue: linear-gradient(45DEG, #7ad7f0, #b7e9f7, #92dff3, #dbf3fa, #f5fcff, #7ad7f0);
    --azur: linear-gradient(to right, #44d3c9, #3d70cf, #3636b9);
    --smboxgradient: linear-gradient(45deg, #ffcce7, #ffecf2, #fb7bbe, #faa7bb, #ffcce7);
}

header {
    background: #dfabd8;
    /* fallback for old browsers */
    background: var(--bggradient);
}

header a {
    font-family: var(--Poiret-font);
    font-size: 1.25em;
    font-weight: bold;
    letter-spacing: 4px;
    color: white;
}

.navbar-toggler {
    margin-top: -2.4em;
    margin-left: -1em;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

header .nav-item:last-child {
    padding-right: 3em;
}

header .nav-item {
    padding: 0.9em;
}

header .navbar-brand {
    padding-left: 3em;
    padding-top: 0.6em;
    padding-right: 1em;
}

header .navbar-brand:hover,
.nav-link:hover {
    color: black;
}

/*Dropdown Contacts*/
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    right: 0;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    overflow: hidden;
}

.dropdown-content a {
    color: black;
    font-size: 12px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: inline-block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

/*Dropdown Contact End*/

.section-0 {
    background-image: url(../assets/sakuratree.png);
    background-position: center center;
    background-size: cover;
}

.section-0 .row .col-md-7 {
    padding: 22vmin 1vmin;
    padding-bottom: 35vmin;
}

.section-0 .row .col-md-5 {
    padding: 4.2vmin 1vmin;
}

.section-0 .row .col-md-5 img {
    height: auto;
    width: auto;
    max-height: 80%;
    max-width: 80%;
    border: whitesmoke;
    border-style: solid;
    border-width: 10px;
    box-shadow: 10px 10px 8px #252525;
    margin-top: 2em;
}

/** Social Media links*/

.smbox {
    box-sizing: border-box;
    position: relative;
    display: inline-flex;
    padding: 10px 15px 0px 18px;
    height: fit-content;
    background: var(--smboxgradient);
    border-radius: 40px;
    overflow-x: hidden;
    cursor: pointer;
    z-index: 1;

}

.smbox::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    max-height: 200px;
    max-width: 250px;
    background: var(--light-blue);
    transition: transform 800ms ease-in-out;
    transform: scaleX(0);
    transform-origin: left;
}

.smbox:hover::before,
.smbox:focus::before {
    transform: scaleX(2);
    max-height: 200px;
}

.social {
    font-family: var(--Poiret-font);
    font-size: 30px;
    color: var(--light-black);
    padding: 0 15px 5px 0px;
    background: transparent;
}

.sm {
    display: none;
    list-style-type: none;
    padding: 0px 0 5px 12px;
    margin: 0px 25px 0px -25px;
}

.smbox:hover .sm {
    display: inline-flex;
    position: relative;
    font-size: 25px;
}

.smlink {
    padding-left: 1.5rem;
}


.fa-github:hover {
    background: black;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.fa-instagram:hover {
    background: linear-gradient(45deg, #eca960, #e68f6f, #da566a, #ca5081, #c01f8d);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.fa-linkedin:hover {
    background: #0077b5;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    border: 2px solid white;
}

/**Social Media links*/

.section-0 {
    padding: 4rem;
}

.section-0 .container .col-md-7 {
    font-family: var(--Poiret-font);
}

.section-0 .container .col-md-7 h6 {
    padding: 1vmin;
    letter-spacing: 4px;
}

.section-0 .container .col-md-7 h1 {
    font-size: 8.5vmin;
    font-weight: bold;
    padding: 0.1em 0em;
}

.section-0 .container .col-md-7 p {
    padding: 1vmin 5vmin;
    text-align: center;
    word-wrap: break-word;
}

/********** section 1 **************/

.section-1 {
    padding: 20vmin 0vmin;
    background: var(--bggradient);
}

.section-1 .row .col-md-6 .paris img {
    opacity: 0.8;
    width: 80%;
    border-radius: 0.2em;
}

.section-1 .row .col-md-6:last-child {
    position: relative;
}

.section-1 .row .col-md-6 .panel {
    position: absolute;
    top: 7vmin;
    left: -18vmin;
    background: white;
    border-radius: 3px;
    text-align: left;
    padding: 13vmin 5vmin 20vmin 10vmin;
    box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.2);
    font-family: var(--Rubik);
    z-index: 1;
}

.section-1 .row .col-md-6 .panel h1 {
    font-weight: bold;
    padding: 0.4em 0;
    font-size: 2em;
}

.section-1 .row .col-md-6 .panel p {
    font-size: 0.9em;
    color: rgba(0, 0, 0, 0.5);
}

/* Section 2 START*/

.section-2 {
    background: var(--bggradient);
    padding: 2rem;
}

.section-2 .card {
    width: 65%;
}

/* Section 2 END*/

footer {
    background: rgba(0, 0, 0, 0.815);
    overflow-x: hidden;
    padding: 1rem;
    width: 100%;
}

footer p>span {
    color: #ff512f;
}

footer input {
    border: none !important;
}

footer input::placeholder {
    color: white !important;
}

footer .input-group .input-group-text {
    background: var(--bggradient);
    border: none;
}

footer .column i {
    color: #dd2476;
}

/* It is Adjacent sibling combinator */

footer .column i+i {
    padding: 0 0.5em;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.65);
    z-index: 9999;
    transition: all 1.5s ease;
}

/* Moving Letters from Tobias Ahlin Bjerrome */

.ml2 {
    font-weight: 900;
    font-size: 3.5em;
    color: black;
}

.ml2 .letter {
    display: inline-block;
    line-height: 1em;
}

.ml10 {
    position: relative;
    color: black;
    font-weight: 700;
    font-size: 1em;
    word-spacing: 6px;
    overflow-wrap: break-word;
}

.ml10 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
}

.ml10 .letter2 {
    display: inline-block;
    line-height: 1em;
    transform-origin: 0 0;
}

/** Hover pulse grow */
@-webkit-keyframes hvr-pulse-grow {
    to {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }
}

@keyframes hvr-pulse-grow {
    to {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }
}

.hvr-pulse-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.hvr-pulse-grow:hover,
.hvr-pulse-grow:focus,
.hvr-pulse-grow:active {
    -webkit-animation-name: hvr-pulse-grow;
    animation-name: hvr-pulse-grow;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}