@import url("https://fonts.googleapis.com/css?family=Acme|Lobster|Patua+One|Rubik|Poiret+One");

* {
    box-sizing: border-box;
}

header,
section {
    overflow-x: hidden;
}

:root {
    --Poiret-font: "Poiret One", cursive;
    --Rubik: "Rubik", cursive;
    --Patua: "Patua One", cursive;
    --Lobster: "lobster", cursive;
    --light-black: #2e2c2caf;
    --bggradient: linear-gradient(to right, #dfabd8, #8221d1);
    --light-gray: rgba(255, 255, 255, 0.877);
    --goldgradient: linear-gradient(to right,
        #462523 0,
        #cb9b51 22%,
        #f6e27a 45%,
        #f6f2c0 50%,
        #f6e27a 55%,
        #cb9b51 78%,
        #462523 100%);
    --azur: #7F7FD5;
    /* fallback for old browsers */
    --azur: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    /* Chrome 10-25, Safari 5.1-6 */
    --azur: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: #a8ff78;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #78ffd6, #a8ff78);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #78ffd6, #a8ff78); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

header a {
    font-family: var(--Poiret-font);
    font-size: 1.25em;
    font-weight: bold;
    letter-spacing: 4px;
    color: whitesmoke;
}

.navbar-toggler {
    margin-top: -2.4em;
    margin-left: -1em;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

header .nav-item:last-child {
    padding-right: 3em;
}

header .nav-item {
    padding: 0.9em;
}

header .navbar-brand {
    padding-left: 3em;
    padding-top: 0.6em;
    padding-right: 1em;
}

header .nav-link:hover {
    color: black;
}

header .row .col-md-7 {
    padding: 22vmin 1vmin;
    padding-bottom: 35vmin;
}

header .row .col-md-5 {
    padding: 4.2vmin 1vmin;
}

header .row .col-md-5 img {
    width: 90%;
    border: whitesmoke;
    border-style: solid;
    border-width: 10px;
    box-shadow: 10px 10px 8px #252525;
    margin-top: 2em;
}

/** Social Media links*/

header .smbox {
    box-sizing: border-box;
    position: absolute;
    display: inline-flex;
    padding: 10px 0px 0px 18px;
    background: var(--light-gray);
    border-radius: 40px;
    overflow-x: hidden;
    left: 35%;
    cursor: pointer;
}

.smbox::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    height: 60px;
    width: 200px;
    background: var(--azur);
    transition: transform 700ms ease-in-out;
    transform: scaleX(0);
    transform-origin: left;
}

.smbox:hover::before,
.smbox:focus::before {
    transform: scaleX(2);
}

.smbox {
    z-index: 1;
    overflow: hidden;
}

.social {
    font-family: var(--Poiret-font);
    font-size: 30px;
    padding: 0 15px 0 0;
    color: var(--light-black);
}

.sm {
    display: none;
    list-style-type: none;
    padding: 0px 12px 5px 12px;
    margin: 0px 5px 0px 15px;
}

.smbox:hover .social {
    transition: color 350ms ease-in-out;
    color: whitesmoke;
}

.smbox:hover .sm {
    display: inline-flex;
    position: relative;
    font-size: 20px;
}

/**Social Media links*/

header {
    background: #dfabd8;
    /* fallback for old browsers */
    background: var(--bggradient);
}

header .container .col-md-7 {
    font-family: var(--Poiret-font);
}

header .container .col-md-7 h6 {
    padding: 1vmin;
    letter-spacing: 4px;
}

header .container .col-md-7 h1 {
    font-size: 8.5vmin;
    font-weight: bold;
    padding: 0.1em 0em;
}

header .container .col-md-7 p {
    padding: 1vmin 5vmin;
    text-align: center;
    word-wrap: break-word;
}

/********** section 1 **************/

.section-1 {
    padding: 20vmin 0vmin;
}

.section-1 .row .col-md-6 .pray img {
    opacity: 0.8;
    width: 80%;
    border-radius: 0.2em;
}

.section-1 .row .col-md-6:last-child {
    position: relative;
}

.section-1 .row .col-md-6 .panel {
    position: absolute;
    top: 7vmin;
    left: -18vmin;
    background: white;
    border-radius: 3px;
    text-align: left;
    padding: 13vmin 5vmin 20vmin 10vmin;
    box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.2);
    font-family: var(--Rubik);
    z-index: 1;
}

.section-1 .row .col-md-6 .panel h1 {
    font-weight: bold;
    padding: 0.4em 0;
    font-size: 2em;
}

.section-1 .row .col-md-6 .panel p {
    font-size: 0.9em;
    color: rgba(0, 0, 0, 0.5);
}

/********** section 2 **************/

.cover {
    width: 100%;
    height: 50vmin;
    background: url("../assets/UCIsign.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}

.cover .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
}

.cover .content {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    padding-top: 20vmin;
}

#d {
    font-family: var(--Patua);
    font-size: 70px;
    letter-spacing: 5px;
    background-image: var(--goldgradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cover .content>p {
    font-family: var(--Rubik);
    font-size: 2vmin;
    color: #e5e5e5;
}

.numbers .rect {
    position: relative;
    z-index: 1;
    background:#2e2c2caf;
    width: 17rem;
    height: 12rem;
    padding-top: 3.5vmin;
    margin: 1rem;
    border-radius: 0.5em;
    box-shadow: 1px 2px 50px 0px rgba(255, 215, 0, 0.349);
}

.numbers {
    margin-top: -15vmin;
}

.numbers .rect h1 {
    color: transparent;
    letter-spacing: 2px;
    font-size: 72px;
    font-weight: bold;
    background-image: var(--goldgradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.numbers .rect>p {
    font-family: var(--Patua);
    font-size: 24px;
    background: var(--goldgradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}

.purchase>h1 {
    padding-top: 15vmin;
    padding-bottom: 0.1em;
    font-family: var(--Lobster);
}

.purchase>p {
    color: var(--light-black);
    font-size: 3vmin;
    padding-bottom: 10vmin;
}

.purchase .cards .card {
    width: 22rem;
    margin: 3vmin 3vmin;
}

.cards div {
    padding: 0;
    margin: 0;
}

.cards .title {
    background: rgba(208, 241, 241, 0.199);
    padding: 1.4em 2.5em;
    font-size: 2vmin;
}

.card .card-text {
    padding: 2.5rem 3rem;
    color: var(--light-black);
}

.card-body .pricing {
    background: rgba(208, 241, 241, 0.199);
    border-top-right-radius: 150px;
    border-top-left-radius: 150px;
}

.card-body .pricing>h1 {
    font-size: 8vmin;
    padding: 1em 0.5em;
}

/********** section 3 **************/

.section-3 {
    height: 70vmin;
    margin-top: 15vmin;
    background: var(--bggradient);
}

.section-3 .col-md-12>h1 {
    padding: 2em 0 0.5em 0;
    color: whitesmoke;
    font-size: 6vmin;
}

.section-3 .col-md-12>p {
    padding: 0 4em;
    padding-bottom: 2em;
    color: var(--light-gray);
    font-size: 3vmin;
}

.section-3 .desktop {
    background: white;
    display: inline-block;
    border-radius: 3em;
    padding: 2vmin 4.5vmin;
    margin: 1em;
}

.section-3 .desktop h3 {
    font-size: 4vmin;
}

.section-3 .desktop p {
    font-size: 2vmin;
}

/* Section 4 */

.section-4 .container h1 {
    font-size: 6vmin;
    padding-top: 14vmin;
}

/*
Removes white gap between slides - change to base color of slide images
*/
.carousel {
    background: #007aeb;
}

/*
Forces image to be 100% width and not max width of 100%
*/
.carousel-item .img-fluid {
    width: 100%;
}

/* 
anchors are inline so you need ot make them block to go full width
*/
.carousel-item a {
    display: block;
    width: 100%;
}

footer {
    background: rgba(0, 0, 0, 0.815);
    overflow-x: hidden;
    padding: 14vmin 18vmin;
}

footer p>span {
    color: #ff512f;
}

footer input {
    border: none !important;
}

footer input::placeholder {
    color: white !important;
}

footer .input-group .input-group-text {
    background: var(--bggradient);
    border: none;
}

footer .column i {
    color: #dd2476;
}

/* It is Adjacent sibling combinator */

footer .column i+i {
    padding: 0 0.5em;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.65);
    z-index: 9999;
    transition: all 1.5s ease;
}

/* Moving Letters from Tobias Ahlin Bjerrome */

.ml2 {
    font-weight: 900;
    font-size: 3.5em;
}

.ml2 .letter {
    display: inline-block;
    line-height: 1em;
}

.ml10 {
    position: relative;
    font-weight: 700;
    font-size: 1em;
    word-spacing: 6px;
    overflow-wrap: break-word;
}

.ml10 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
}

.ml10 .letter2 {
    display: inline-block;
    line-height: 1em;
    transform-origin: 0 0;
}

/** Hover pulse grow */
@-webkit-keyframes hvr-pulse-grow {
    to {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
}

@keyframes hvr-pulse-grow {
    to {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
}

.hvr-pulse-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.hvr-pulse-grow:hover,
.hvr-pulse-grow:focus,
.hvr-pulse-grow:active {
    -webkit-animation-name: hvr-pulse-grow;
    animation-name: hvr-pulse-grow;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}